body {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	background: #fff;
}

a:link,
a:visited,
a:active {
	color: #00f;
	text-decoration: none;
}

a:hover {
	color: #900;
}

.body_text {
	font-weight: bold;
	text-align: center;
}

.body_action {
	text-align: center;
}

.body_note {
	background: #ccc;
	border: 1px solid #000;
	padding: 2px;
	margin: 0px 40px 0px 40px;
	font-weight: normal;
	text-align: center;
}

.body_img {
	text-align: center;
}

.form_table {
	border: 0px;
	width: 220px;
}

.form_label {
	font-weight: bold;
	font-size: 10px;
	text-align: right;
}

.form_text {
        font-weight: bold;
        font-size: 10px;
        text-align: left;
}

.form_input {
	font-size: 10px;
	margin: 0px 4px 0px 6px;
	padding: 0px 0px 0px 2px;
}

.form_submit {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	margin-top: 4px;
}

input{
	font-family:Geneva,Arial;
	font-size:12px;
	border:1px solid;
	color:black;
	border-color:#999999;
	text-decoration:none;
}

textarea{
	font-family:Helvetica,Arial;
	font-size:11px;
	border:1px solid;
	border-color:#999999;
}

.anotation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #4B4B4B;
	text-align: center;
}

.news{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #5E5E5E;
	text-align: center;
	text-decoration: none;
	font-weight:bold;
}
